main .table {
  width: 100%;
  overflow-x: auto;
}

main .table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: 1.2rem;
}

@media (min-width: 600px) {
  main .table table {
    font-size: 1.4rem;
  }
}

@media (min-width: 900px) {
  main .table table {
    font-size: 1.6rem;
  }
}

main .table table thead tr {
  border-top: 2px solid #dadada;
  border-bottom: 2px solid #dadada;
}

main .table table tbody tr {
  border-bottom: 1px solid #dadada;
}

main .table table th {
  font-weight: 700;
}

main .table table th,
main .table table td {
  padding: 0.5em;
  text-align: left;
}

main .table table th p,
main .table table td p {
  margin: 0;
}

main .table table td p + p {
  margin-top: 0.25em;
}

/* no header variant */
main .table.no-header table tbody tr {
  border-top: 1px solid #dadada;
}

/* striped variant */
main .table.striped tbody tr:nth-child(odd) {
  background-color: var(--color-neutral-100);
}

/* bordered variant */
main .table.bordered table th,
main .table.bordered table td {
  border: 1px solid #dadada;
}
