footer {
  background: linear-gradient(180deg, rgba(6, 12, 21, 0.82) 0%, rgba(5, 10, 18, 0.96) 100%);
  color: rgba(212, 227, 240, 0.74);
}

footer .footer > div {
  margin: auto;
  max-width: 1280px;
  padding: 36px 24px 24px;
}

footer .footer p {
  margin: 0;
}

.storeview-switcher-button {
  background: transparent;
  padding-left: 0;
}

.storeview-modal-storeview-title {
  margin-bottom: var(--spacing-xxbig);
  padding-inline-start: var(--spacing-xbig);
}

.modal .close-button {
  top: 40px !important;
  right: 40px !important;
}

.storeview-single-store {
  list-style-type: none;
}

.storeview-selection .storeview-multiple-stores {
  list-style-image: url('../../icons/chevron-right.svg');
  list-style-position: inside;
}

.storeview-selection > li {
  margin-bottom: var(--spacing-small);
}

.storeview-multiple-stores > ul {
  position: relative;
  width: 100%;
}

.storeview-multiple-stores > ul > li {
  list-style: none;
  display: none;
}

.storeview-multiple-stores[aria-expanded='true'] {
  list-style-image: url('../../icons/chevron-down.svg');
}

.storeview-multiple-stores[aria-expanded='true'] > ul {
  padding-left: 0;
}

.storeview-multiple-stores[aria-expanded='true'] > ul > li {
  display: block;
  list-style-type: none;
  margin-bottom: var(--spacing-small);
}

@media (min-width: 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
